<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.riccardo_parente.tris">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.riccardo_parente.tris.ComputerGame"></activity>
        <activity android:name="com.riccardo_parente.tris.TwoPlayersGame" />
        <activity android:name="com.riccardo_parente.tris.OnePlayerGame" />
        <activity android:name="com.riccardo_parente.tris.Regole" />
        <activity android:name="com.riccardo_parente.tris.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.riccardo_parente.tris.Statistiche" />
    </application>

</manifest>